<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>Greetings from Hope Hospital {{ name }}!</h1>
    <h3>Your apppointment request was recorded successfully</h3>
    <br>
    <p>Transection details:</p>
    <ul>
        <li>Payment id : <strong>{{ payment_id }}</strong></li>
        <li>Order/UPI id : <strong>{{ order_id }}</strong></li>
        <li>Signature : <strong>{{ signature }}</strong></li>
        <li>Amount : $<strong>{{ amount }}</strong></li>
        <li>Date : <strong>{{ time }}</strong></li>
    </ul>
        
</body>
</html>